<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.naloaty.syncshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--uses-permission android:name="android.permission.READ_PHONE_STATE" /-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.FOREGROUND_SERVICE" /-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_syncshare"
        android:label="@string/text_appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SyncShare.Light"
        tools:ignore="GoogleAppIndexingWarning"
        android:hardwareAccelerated="true">

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar">
        </activity>

        <activity
            android:name=".activity.DeviceManageActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar">
        </activity>

        <activity
            android:name=".activity.AddDeviceActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar">
        </activity>

        <activity
            android:name=".activity.LocalDeviceActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar">
        </activity>

        <activity
            android:name=".activity.RemoteViewActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.SyncShare.Light.NoActionBar">
        </activity>


        <activity
            android:name=".activity.ImageViewActivity"
            android:theme="@style/Theme.SyncShare.Dark.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name=".activity.VideoPlayerActivity"
            android:theme="@style/Theme.SyncShare.Dark.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="sensor"
            tools:replace="screenOrientation" />

        <service
            android:name=".service.CommunicationService"
            android:label="SyncShare Communication Service" >
        </service>

    </application>

</manifest>